<div class="row">
	<div class="small-12 columns">
		<div class="text-center">
			<h1><%= @product['name'] %></h1><br>
			<%= image_tag @product['image_thumb_url'] %><br>
    		$<%= format_price @product['price_in_cents'] %><br>
    		<%= @product['description'] %>
    	</div>
	</div>
</div>
